<section id="sidebar">
	<section>
		<h3>Free Ebook!</h3>
		<p>Sign up now and get a FREE ebook to get the top 10 tips to get your horse ready for your next sale.</p>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button">Sign Up</a></li>
			</ul>
		</footer>
	</section>
	<hr />
	<section>
		<a href="#" class="image fit"><img src="/images/pic07.jpg" alt="" /></a>
		<h3>Amet Lorem Tempus</h3>
		<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</footer>
	</section>
</section>