<section id="sidebar">
	<section>
		<h3>Free Ebook!</h3>
		<p>Sign up now and get our FREE Ebook with our top 10 tips for selling your horse at your next sale.</p>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button">Sign Up</a></li>
			</ul>
		</footer>
	</section>
	<hr />
	<section>
		<a href="#" class="image fit"><img src="/images/pic07.jpg" alt="" /></a>
		<h3>Get ready for the sales</h3>
		<p>Sell your horse for top dollar at your next sale. Customized pedigree pages make it easier to promote your horse and have as many eyes as possible at the next sale.</p>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</footer>
	</section>
</section>